static/data/magnetic_reconnection_512x512x512_float32.raw
static/data/pancreas_240x512x512_int16.raw
static/data/hcci_oh_560x560x560_float32.raw
static/data/*_treeCells.raw
static/data/*_treeNodes.raw
static/data/*_cornerVals.raw
static/data/*_blocks.raw
static/data/*_limits.raw
static/data/big*
static/data/retro*
static/data/out*
old/
.vscode
build/
cpp/
__pycache__
ingest/*.cgns
ingest/cpp_hdf5
ingest/retro
ingest/datasets
ingest/*.raw
ingest/celltools/dist
ingest/celltools/test
ingest/celltools/Makefile
ingest/celltools/src/celltools.egg*